<h1>Welcome to Rock... Paper.......... Scissors!</h1>

<form action="/name" method="POST" name="name">
  <label for="name">Your game name:</label>
  <input type="text" id="name" name="name" onclick="this.value='';" value="Enter name here">
  <input type="submit" id="submit" name="submit" value="Play">
  </form>